* {
    box-sizing: border-box;
}

:root {
    --primary-color: #21409a; /* A mesma cor primária que você usou para o login */
    --white-color: #f0f0f0; 
    --dark-gray-color: #545454;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    padding: 0 24px;
    background-color: var(--primary-color);
    background-image: url('/static/img/logo.png'); 
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: 50vw;
    font-family: 'Poppins';
    color: #f9f9f9;
}

.card {
    width: 100%;
    max-width: 500px; 
    margin: 0 20px;
    padding: 10vw 5vw 10vw; 
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(10px);
}

@media (min-width: 48px) {
    .card {
        margin: 0;
        width: 70%;
        min-width: 400px;
    }
}

@media (min-width: 500px) {
    body {
        padding: 0;
    }
}

@media (min-width: 628px) {
    .card {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 44px;
        width: 50%;
        max-width: 550px;
        min-width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0;
    }
}

.card h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 12px;
}

.card h3 {
    color: rgba(255, 255, 255, 0.38);
    margin: 0 0 48px;
    font-weight: 400;
    font-size: 16px;
}

form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

form :is(input, button) {
    width: 100%;
    height: 56px;
    border-radius: 6px;
    border: 0;
}

form input {
    color: rgba(255, 255, 255, 0.96);
    background: rgba(255, 255, 255, 0.08);
    font-family: inherit;
    font-size: 16px;
    padding: 0 16px;
}

form input:focus {
    outline: var(--primary-color);
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.38);
}

form button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: var(--primary-color);
    color: #f9f9f9;
    border: 0;
    font-family: 'Poppins';
    font-size: large;
}
