{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protype BlablaSinos</title>

    <!-- Link para as pastas -->
    <link rel="stylesheet" href="{% static '/css/pages/index/index-style.css' %}">
    <link rel="stylesheet" href="{% static '/css/pages/index/index-media-query.css' %}">

    
    <!-- Link para fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Link para ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body onresize="mudouTamanho()">
    <!-- Menu de navegação -->
    <header class="menu-nav menu-content">
            <h1><a href="#">BlablaSinos</a></h1>
            <i id="hamburguer" class="fas fa-bars" onclick="clickMenu()"></i>
            <menu id="itens" class="menu-itens">
                <ul>
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#security">Segurança</a></li>
                    <li><a href="#ride">Caronas</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            </menu>
    </header>

    <div class="menu-spacing"></div>

        <section class="section-intro section-rule">
            <div id="intro" class="intro-img">
                <img src="/static/img/carpool_blue_bus_large-30b3097694f4e465398f.svg" alt="">
            </div>
            <div class="intro-top-3 content-rule">
                <div class="intro-t1 card-t3">
                    <i class="far fa-money-bill-alt"></i>
                    <h2>Viagens com preços baixos</h2>
                    <p>Não importa para onde você vai, de ônibus ou de carona, encontre a viagem perfeita entre nossos vários destinos e trajetos, todos com preços baixos</p>
                </div>
                <div class="intro-t2 card-t3">
                    <i class="far fa-address-card"></i>
                    <h2>Confie em quem viaja com você</h2>
                    <p>Para nós, é muito importante conhecer cada um dos nossos membros e parceiros de ônibus. Conferimos as avaliações, perfis e documentação, assim você sempre sabe com quem vai viajar e pode reservar sua viagem com tranquilidade e segurança na nossa plataforma</p>
                </div>
                <div class="intro-t3 card-t3">
                    <i class="fas fa-car-alt"></i>
                    <h2>Procure, clique e viaje!</h2>
                    <p>Reservar uma viagem nunca foi tão fácil! Graças à nossa tecnologia e à simplicidade do app, você reserva sua viagem em poucos minutos</p>
                </div>
            </div>
        </section>
        <!-- Sessão de segurança -->
        <section id="security" class="section-security section-rule">
            <div class="security-content content-rule">
                <div class="security-img">
                    <img src="/static/img/undraw_security_on_re_e491.svg" alt="img security">
                </div>
                <div class="security-text-button">
                    <h2>Segurança</h2>
                    <p>No BlablaSinos, estamos dedicados a construir uma comunidade confiável de caronas na rede unisinos. Acesse nossa página de Confiança e Segurança para explorar a gama de recursos que você pode utilizar para sentir mais segurança em sua próxima carona.</p>
                    <button>Saiba mais</button>
                </div>
            </div>
        </section>
        <!-- Sessão de carona -->
        <section id="ride" class="section-ride section-rule">
            <div class="ride-content content-rule">
                <div class="ride-img">
                    <img src="/static/img/undraw_order_ride_re_372k.svg" alt="img ride">
                </div>
                <div class="ride-text-buttons">
                <div class="ride-text">
                    <h2>Carona</h2>
                    <p>Cadastre-se como condutor e economize nos custos da viagem levando passageiros. São só alguns minutos para oferecer uma carona.</p>
                </div>
                <div class="ride-buttons">
                    <a href="{% url 'index_motorista' %}" class="button-style">Oferecer Carona</a>
                    <a href="{% url 'index_carona' %}" class="button-style">Pegar uma Carona</a>
                </div>
            </div>
            </div>
        </section>

    <script>
        function mudouTamanho() {
            if (window.innerWidth >= 768) {
                itens.style.display = 'block'
            } else {
                itens.style.display = 'none'
            }
        }

        function clickMenu() {
            if (itens.style.display == 'block') {
                itens.style.display = 'none'
            } else {
                itens.style.display = 'block'
            }
        }
    </script>
</body>
</html>