{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlaBlaSinos Login</title>

    <!-- Link para as pastas -->
    <link rel="stylesheet" href="{% static '/css/pages/login/login_styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/pages/login/login_media_query.css' %}">

    <!-- Link para fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body class="main-bg">
    <div class="card">
        <div class="img-card">
            <img src="/static/img/logo_escrito.png" alt="">
        </div>
        <div class="main-card">
        <div class="login-intro">
            <h2>Login</h2>
            <h3>Preenche com os seus dados de login:</h3>
        </div>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

            <form class="form" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <label>
                    <input type="checkbox">
                    <span class="checkbox-text">
                        Mantenha-me logado
                    </span>
                </label>
                    <button type="submit">Login</button>
                </form>
            <p class="login-sign-up">Não possui uma conta? <a href="{% url 'register' %}">Criar conta</a></p>
        </div>
    </div>
</body>
</html>
