{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'login_style.css' %}">
    <link rel="stylesheet" href="{% static 'register_style.css' %}">
</head>
<body>
    <div class="card">
        <h2>Cadastro</h2>
        <h3>Preencha os campos abaixo para criar uma conta:</h3>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>
            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>
